<div class="ui container">
    <h2 class="ui header">{{ 'Route mit Haltestellen hinzufügen' }}</h2>

    <form class="ui form" [formGroup]="routeForm" (ngSubmit)="saveRoute()">
        <div class="ui segment">
            <h3 class="ui dividing header">Routeninformationen</h3>

            <div class="field">
                <label>Gültig ab</label>
                <input formControlName="startDate" type="date" />
                @if (errors['startDate']) {
                    <div class="ui pointing red basic label">
                        {{ errors['startDate'] }}
                    </div>
                }
            </div>

            <div class="field">
                <label>Gültig bis</label>
                <input formControlName="endDate" type="date" />
                @if (errors['endDate']) {
                    <div class="ui pointing red basic label">
                        {{ errors['endDate'] }}
                    </div>
                }
            </div>

            <div class="field">
                <label>Tagesgültigkeit</label>
                <select formControlName="dailyValidity">
                    @for (option of dailyValidityOptions; track option[0]) {
                    <option [value]="option[0]">{{ option[1] }}</option>
                    }
                </select>
            </div>
        </div>

        <div class="ui segment">
            <h3 class="ui dividing header">Haltestelleninformationen</h3>

            <div class="ui grid">
                <div class="four wide column">
                    <label>Haltestelle</label>
                    <wea5-stop-search (stopSelected)="addStopFromSearch($event)" />
                </div>
              
                <div class="four wide column">
                    <label>Abfahrtszeit</label>
                    <input formControlName="departureTime" type="time" class="ui input" />
                </div>
            </div>
              
            @if (errors['stops']) {
                <div class="ui pointing red basic label">
                    {{ errors['stops'] }}
                </div>
            }

            <div class="ui margin-top-large margin-bottom-large">
                <wea5-selected-stop-display [selectedStop]="selectedStop" />
            </div>
              
            <div class="ui grid">
                <div class="four wide column">
                    <button type="button" class="ui blue button" (click)="addStopToRoute()" 
                        [disabled]="!selectedStop || !routeForm.get('departureTime')?.value">
                        Haltestelle hinzufügen
                    </button>
                </div>
            </div>

            @if (sortedStops.length == 0) {
                <div class="ui positive message">
                    <i class="info circle icon"></i>
                    <div class="content">
                        <div class="header">Hinweis</div>
                        <p>Noch keine Haltestellen hinzugefügt</p>
                    </div>
                </div>
            }
            @else {    
                <h3>Hinzugefügte Haltestellen</h3>     
                <ul>
                    @for (stop of sortedStops; track stop.shortName) {
                        <li>
                            {{ formatTime(stop.departureTime) }} - {{ stop.shortName }}
                            <button type="button" class="ui red button" (click)="removeStop(sortedStops.indexOf(stop))">Entfernen</button>
                        </li>
                    }
                </ul>
            }
        </div>

        <button class="ui primary button" type="submit" [disabled]="routeForm.invalid || sortedStops.length === 0">Speichern</button>
        <button class="ui button" type="button" (click)="cancel()">Abbrechen</button>
    </form>
</div>